*{margin:0; padding:0;}
body {background:#fff top center no-repeat; color:#303030; font:95% Verdana,Helvetica,sans-serif; line-height:1.6em;}
a {color:#2a5a9a; text-decoration:none;}
a:hover {text-decoration:underline;}
a img {border:0;}
p,ul,ol,dl {margin:0 0 30px 0;}
h1 {color:#888; font-size:3em; line-height:1.1em; letter-spacing:-3px; margin:20px 0 0 0;}
h1 a {color:#2a5a9a; text-transform:none;}
h2 {font-size:2.2em; color:#333; margin:0 0 20px; letter-spacing:-1px; border-bottom:2px solid #eee; padding-left:40px;}
h3 {font-size:1.8em; clear:left; margin:10px 0 0 0; letter-spacing:-1px; border-bottom:2px solid #eee; }
h1,h2,h3 {font-weight:700; line-height:1.4em;}
#main {color:#303030; margin:20px auto; padding:0 20px; width:80%; height: 100%; max-width:1378px; border-left: solid #ccc 5px;border-right: solid #ccc 5px;}

#content {text-align:left; width:70%; padding-right:2%; border-right:2px solid #CCC;}
#content p pre {
	margin: 0;
	padding: 0;
	text-align: left;
}
#sidebar {float:right; width:25%; padding-left:4%; /*border-left:2px solid #CCC;*/ }
#sidebar img {margin:0 0 30px 0;}
#sidebar ul {list-style:none; margin:0; line-height:1.3em; padding:10px 0 0 0; border-top:1px solid #eee;}
#sidebar li {list-style:none; font-size:1em; margin:0 0 10px; padding:0 0 10px 40px; color:#888; border-bottom:1px solid #eee;}
#sidebar li a {font-size:1.2em;}
#sidebar h2 {font-size: 1.4em; line-height:1.8em;}
.readmore {text-align:right; margin:0 20px 30px 0;}
.datelog{ float:left;color:#aaa; margin-bottom: 10px; width: 100%;}
.timestamp a {font-weight:normal;}
.credits {display:block; clear:left; font-size:0.9em; color:#aaa; margin:20px 0;}
.credits a {color:#888;}
.clear {clear:both; visibility:hidden; height:20px;}
.clear-all {clear:both; visibility:hidden;}
.left {width:45%; float:left; padding-bottom:20px;}
.right { width:50%; float:right; padding-bottom:20px;}
.icon-blog {background: #fff top left no-repeat;}

.footer { border-top: 9px solid #888888; height: 50em; background-color: #E3E3E3; }
.footer-left{ width:20%; color:#aaa; float: left; }
.footer-right{  color:#aaa; width:20%;float: right; text-align: right }
.footer-center{ color:#aaa; width:60%; float: left; }
/*.footer-center a {
	margin-right: 2em;
}*/

.footer-center li{
	float:left;
	list-style-type: none;
	margin-right: 30px;
}

.container { height: auto; }

table{
	margin:0 0 2em 0;
	
	border-spacing:0;
  border-collapse:collapse;
}

table tr th{
	background: #A9D0F5;
	padding: 10px;
	border:1px solid #ccc;
}

table tr td{
	padding: 10px;
	border:1px solid #ccc;
}
